.consulting-body {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 960px;
}

.problem-statements.lead {
  color: #53595f;
}

.banner {
  background-color: $primary;
  padding: 2em;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 1em;
  margin-bottom: 2em;
  h1,
  h2 {
    color: $yellow;
    text-shadow: 2px 2px 2px $dark;
  }
}

@media (max-width: 992px) {
  .banner {
    h1,
    h2 {
      font-size: 4rem;
      color: $yellow;
      text-shadow: 2px 2px 2px $dark;
    }
  }
}

.problem-statements {
  margin: 0 auto;
  line-height: 1.5rem;
  max-width: 40em;
}

.center-heading {
  text-align: center;
}

.contact-form {
  width: 75%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fees-card,
.pm-card {
  flex: 0 1 300px;
  background-color: $primary;
  font-size: 1.1em;
  color: $yellow;
  margin: 1em;
  padding: 1em;
  width: 50%;
  box-shadow: 2px 2px 2px $dark;
  strong {
    text-shadow: 1px 1px 1px $dark;
  }
  h3 {
    font-size: 3em;
    color: $yellow;
    text-shadow: 2px 2px 2px $dark;
  }
}

ul.fancy-list {
  max-width: 45em;
  margin: 0 auto;
  list-style-type: none;
  li {
    padding-bottom: 0.5rem;
  }

  li::before {
    content: "\f058";
    color: $primary;
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
  }
}

ul.linktree {
  text-align: center;
  font-size: 2rem;
  max-width: 45em;
  margin: 0 auto;
  list-style-type: none;
  padding: 1rem;

  li {
    margin: 1rem;
    box-shadow: inset 1px 1px 0 1px $primary, 1px 1px 0 1px $primary;

    a {
      text-decoration: none;
      display: block;
      line-height: 4rem;
    }

    a:focus,
    a:hover {
      background-color: $primary;
      color: $yellow;
    }
  }
}

.link-banner {
  background-color: $primary;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 1em;
  margin-bottom: 1em;
  h1,
  h2 {
    margin: 0;
    line-height: 1em;
    color: $yellow;
    text-shadow: 2px 2px 2px $dark;
  }
}

@media (max-width: 992px) {
  ul.linktree {
    font-size: 1rem;
    max-width: auto;
    padding: 0;

    li {
      margin: 1rem;

      a {
        line-height: 3rem;
      }
    }
  }

  .link-banner {
    background-color: $primary;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 0.51em;
    margin-bottom: 0.5em;
    h1,
    h2 {
      margin: 0;
      line-height: 1em;
      color: $yellow;
      text-shadow: 2px 2px 2px $dark;
    }
  }
}
