@use "variables";

.site-nav {
  background-color: variables.$primary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
  &__list {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    
    &.active {
      display: flex;
    }
  }
  
  &__item {
    list-style: none;
  }
  
  &__link {
    display: block;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: variables.$yellow !important;
    text-decoration: none !important;
    padding: 0.75rem 1rem;
    
    &:hover, &:focus {
      color: variables.$primary !important;
      background-color: variables.$yellow;
      opacity: 1;
      text-decoration: none !important;
    }
  }
  
  &__brand {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    color: variables.$yellow !important;
    padding: 0.5rem;
    
    &:hover, &:focus {
      color: variables.$primary !important;
      background-color: variables.$yellow;
      opacity: 1;
      text-decoration: none !important;
    }
  }
  
  &__profile {
    padding: 1rem;
    
    &-image {
      padding: 0.5rem;
      border: 0.5rem solid #fff760;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      max-width: 100%;
      height: auto;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
    }
  }
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.04);
    background: variables.$primary;
  }
  
  &__toggler {
    background: transparent;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 4px;
    color: variables.$white;
    padding: 0.5rem 0.75rem; 
    cursor: pointer;
    
    &:focus {
      outline-color: variables.$yellow;
    }
    
    &.active {
      background-color: rgba(255,255,255,0.2);
    }
  }
}

@media (min-width: variables.$breakpoint-lg) {
  .site-nav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    width: variables.$sidebar-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &__list {
      display: flex;
      margin-top: 2rem;
    }
    
    &__toggler {
      display: none;
    }
    
    &__header {
      justify-content: center;
    }
    
    &__brand {
      display: none; // Hide nav-brand on large screens
    }
    
    &__profile {
      display: block;
    }
  }
}
