// filepath: /Users/jacksonbates/own/jacksonbates.github.io/src/stylesheets/_resume-item.scss
.portfolio-link {
  border: 1px solid $primary;
  padding: 0.5em;
  margin: 16px;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    background-color: $primary;
    color: $white;
    text-decoration: none;
  }
}

.portfolio-links {
  display: flex;
  flex-wrap: wrap;
}

.sample-card {
  margin-bottom: 2rem;
}

section.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;
  
  .resume-item {
    margin-bottom: 3rem;
  }
  
  .resume-date {
    min-width: none;
  }
}

@media (min-width: $breakpoint-md) {
  section.section {
    min-height: 100vh;
    
    .resume-item {
      display: flex;
      flex-direction: row;
      
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  section.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
