@use "variables";

// Resume experience item styling
.resume-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &__content {
    flex-grow: 1;
    
    h3 {
      margin-bottom: 0;
    }
  }
  
  &__date {
    color: variables.$primary;
    
    @media (min-width: variables.$breakpoint-md) {
      min-width: 18rem;
      text-align: right;
    }
  }
  
  @media (min-width: variables.$breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.experience-section {
  .resume-item:last-of-type {
    margin-bottom: 0;
  }
  
  .position-title {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .company-name {
    margin-bottom: 1rem;
  }
  
  .position-description {
    margin-bottom: 0;
  }
  
  .historical-position {
    margin-top: 3rem;
  }
}

// Section styling enhancements
section.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;
}

@media (min-width: variables.$breakpoint-md) {
  section.section {
    min-height: 100vh;
  }
}

@media (min-width: variables.$breakpoint-lg) {
  section.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
